@font-face {
  font-family: "Andromeda";
  src: url("../fonts/Andromeda-eR2n.ttf");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  color: white;
}

.main {
  position: relative;
  height: 100%;
  background-image: url("../images/mars.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.menu__list {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.logo {
  max-width: 32px;
  max-height: 32px;
  margin-left: 6px;
}

.logo__img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.menu__list-item {
  border-right: solid 1px white;
  padding: 5px;

  &:last-child {
    border: none;
  }
}

.menu__link {
  font-family: Andromeda, Arial, sans-serif;
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    transition: color 0.5s;
    color: gold;
  }
}

.main__agitation {
  position: absolute;
  padding: 16px;
  max-width: 70%;
  min-width: 20%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  font-family: Andromeda, Arial, sans-serif;
  font-weight: 100;
  font-size: 54px;
  text-align: center;
}
